input{
  border-radius: 20px;
  height: 64px;
 }

select{
  border-radius: 20px;
  height: 64px;
 }

 label{
  color: rgb(132, 171, 179);
}

h2{
  margin-left: 12px;
  color: rgb(132, 171, 179);
}

button{
  height: 85px;
  width: 100%;
  border-radius: 34px;
  font-size: 25px;
  background-color: rgba(21, 195, 214, 1);
}
.btn2{
  height: 85px;
  width: 100%;
  border-radius: 34px;
  font-size: 25px;
  background-color: rgba(57, 204, 131, 1)
}

textarea{
  border-radius: 20px;

 }
p{
  color: rgb(132, 171, 179);
 }




	/* botão de confirmar */
	.toggle {
		position : relative ;
		display : inline-block;
		width : 100px;
		height : 22px;
		background-color: rgb(255, 255, 255);
		border-radius: 30px;
	}

	.toggle:after {
		content: '';
		position: absolute;
		width: 50px;
		height: 20px;
		border-radius: 45px;
		background-color: rgb(194, 194, 194);
		top: 1px;
		left: 1px;
		transition: all 0.5s;
	}

	.checkbox:checked + .toggle::after {
		left : 49px;
	}

	.checkbox:checked + .toggle {
		background-color: rgb(255, 255, 255)
	}

	.checkbox {
		display : none;
	}
