<div class="container mt-3">

  <div class="row">
    <div class="col">
      <div class="form-group col-md-4">
        <label for="inputState">Nome do aluno</label>
        <select id="inputState" class="form-control">
          <option selected></option>
          <option>...</option>
        </select>
      </div>
    </div>
 </div>

 <div class="row">
  <div class="col">
    <div class="form-group col-md-4">
      <label for="inputState">Plano do Aluno</label>
      <select id="inputState" class="form-control">
        <option selected></option>
        <option>...</option>
      </select>
    </div>
  </div>
</div>

  <div class="row">
    <div class="col d-flex justify-content-center">
      <img class="imagem" src="https://i.imgur.com/30zqC8Pl.jpg" alt="" width="230px">
    </div>
  </div>

  <div class="row mt-4  d-flex justify-content-center">
    <div class="presenca ">
         <p>Nome: <span>teste</span></p><hr>
         <p>Qtd Aula: <span>teste</span></p><hr>
         <p>Qtd Presença: <span>teste</span></p><hr>
         <p>Assiduidade: <span>teste</span></p>
    </div>
  </div>

</div>

<div class="mp pl-4 pr-4 mb-4"><button type="button" class="btn btn-info" routerLink="/home">Voltar</button></div>
