
	/* botão de confirmar */
	.toggle {
		position : relative ;
		display : inline-block;
		width : 100px;
		height : 52px;
		background-color: red;
		border-radius: 30px;
	}

	.toggle:after {
		content: '';
		position: absolute;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background-color: rgb(255, 253, 253);
		top: 1px;
		left: 1px;
		transition: all 0.5s;
	}

	.checkbox:checked + .toggle::after {
		left : 49px;
	}

	.checkbox:checked + .toggle {
		background-color: rgba(57, 204, 131, 1)
	}

	.checkbox {
		display : none;
	}




  .imagem{
    border-radius: 50%;
    }
    p{
      font-size: 45px;
      color: rgb(132, 171, 179);
    }
    button{
      height: 85px;
      width: 100%;
      border-radius: 34px;
      font-size: 25px;
      background-color: rgba(21, 195, 214, 1);
    }
.im{
  height: 536px;
  opacity: 0;
}
