<div class="container mt-5">
  <div class="row d-flex align-content-center">
    <div class="col-3">
      <img
        class="imagem"
        src="https://i.imgur.com/30zqC8Pl.jpg"
        alt=""
        width="70px"
      />
    </div>
    <div class="col p-0">
      <p>nome</p>
    </div>
    <div class="col-4 mt-2">
      <input type="checkbox" id="switch" class="checkbox" />
      <label for="switch" class="toggle"></label>
    </div>
  </div>

  <div class="row">
    <div class="col">
    <div class="im"><img src="https://i.imgur.com/30zqC8Pl.jpg" alt=""></div>
    </div>
 </div>
</div>

<div class="mp pl-4 pr-4"><button type="button" class="btn btn-info" routerLink="/home">Voltar</button></div>

