p{
  font-size: 25px;
  color: rgb(132, 171, 179);

}

i{
  font-size: 40px;
}
.ired{
  color: red;
}

button{
  height: 85px;
  width: 100%;
  border-radius: 34px;
  font-size: 25px;
  background-color: rgba(21, 195, 214, 1);
}
.btn2{
  height: 85px;
  width: 100%;
  border-radius: 34px;
  font-size: 25px;
  background-color: rgba(57, 204, 131, 1)
}

.im{
height: 456px;
opacity: 0;
}
img{
  border-radius: 50%;
 }
