
.container{
    display: block;
    justify-content: center;
    text-align: center;

}
.logo{
  margin-bottom: 40px;
  margin-top: 45px;
}
 label{
   font-weight: bold;
   font-family: fantasy;
 }
 .btn{
   background-color: rgba(57, 204, 131, 1);
   border-radius: 15px;
 }

 input{
  border-radius: 11px;
 }

