<div class="container mt-5">


  <div class="row ">
    <div class="col">
      <h2>Novo Plano de Aula</h2>
    </div>
 </div>
<hr>
  <div class="row">
    <div class="col">
      <div class="form-group col-md-4">
        <label for="inputState">Descrição</label>
        <input type="text" class="form-control">
      </div>
    </div>
 </div>

 <div class="row">
  <div class="col">
    <div class="form-group col-md-4">
      <label for="inputState">Quantidade de Aulas</label>
      <input type="text" class="form-control">
    </div>
  </div>
</div>


<div class="mp pl-4 pr-4  button2"><button type="button" class="btn2 btn-info">Salvar</button></div>
<div class="mp pl-4 pr-4 mt-2 mb-2"><button type="button" class="btn btn-info" routerLink="/home">Voltar</button></div>


