<div class="container mt-5">


  <div class="row ">
    <div class="col">
      <h2>Cadastrar Aulas</h2>
    </div>
 </div>
<hr>
  <div class="row">
    <div class="col">
      <div class="form-group col-md-4 ">
        <label for="inputState">Nome</label>
        <input type="text" class="form-control">
      </div>
    </div>
 </div>

 <div class="row">
  <div class="col">
    <div class="form-group col-md-4">
      <label for="inputState">Descrição</label>
      <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="form-group col-md-4">
      <label for="inputState">Plano de Aula</label>
      <select id="inputState" class="form-control">
        <option selected></option>
        <option>...</option>
      </select>
    </div>
  </div>
</div>


<div class="mp pl-4 pr-4 mt-3 button2"><button type="button" class="btn2 btn-info">Salvar</button></div>
<div class="mp pl-4 pr-4 mt-2"><button type="button" class="btn btn-info" routerLink="/home">Voltar</button></div>


