<div class="containernav d-flex flex-row-reverse">
  <div class="row">
    <div class="col-10"></div>
    <div class="col d-flex justify-content-center">
      <img class="imagem" src="https://i.imgur.com/30zqC8Pl.jpg" alt="" width="90px">
    </div>
    <div class="col-1"></div>
  </div>

</div>


<div class="container mt-5">
  <div class="row">
    <div class="col-6 ">
      <a href="" routerLink="/chamada">
<div class="card">
  <i class="fa fa-clock-o" aria-hidden="true"></i>
  <div class="card-body p-0">
    <p class="card-text">Chamada</p>
  </div>
</div>
</a>
</div>

<div class="col-6">
  <a href="" routerLink="/presenca">
  <div class="card">
    <i class="fa fa-address-book-o" aria-hidden="true"></i>
    <div class="card-body p-0">
      <p class="card-text">Presença</p>
    </div>
  </div>
</a>
  </div>
</div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-6 ">
      <a href="" routerLink="/planodeaula">
<div class="card">
  <i class="fa fa-calendar" aria-hidden="true"></i>
  <div class="card-body p-0">
    <p class="card-text1">Plano de Aula</p>
  </div>
</div>
</a>
</div>

<div class="col-6">
  <a href="" routerLink="/aulas">
  <div class="card">
    <i class="fa fa-pencil" aria-hidden="true"></i>
    <div class="card-body p-0">
      <p class="card-text">Aulas</p>
    </div>
  </div>
</a>
  </div>
</div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-3">

    </div>
    <div class="col ">
      <a href="" routerLink="/listadealunos">
<div class="card">
  <i class="fa fa-user" aria-hidden="true"></i>
  <div class="card-body p-0">
    <p class="card-text">Alunos</p>
  </div>
</div>
</a>
</div>
<div class="col-3">

</div>
</div>
</div>


