.fa{
  font-size: 1.5cm;
  padding-top: 10px;
}

.card-text{
  font-size: 0.9cm;
}
.card-text1{
  font-size: 0.7cm;
}
 .card{
 display: flex;
 align-items: center;
 background-color: #c4c4c4;
 border-radius: 10%;
 }


 .containerr{
display: flex;
justify-content: center;
 }
 .containernav{
  background-image: url('https://i.imgur.com/I0kY71j.png');
 }
 .imagem{
 margin-top: 80px;
 border-radius: 50%;
 }
 a{
   text-decoration: none;
   color: black;
 }
 .p1{
   font-size: 34px;
   margin-top: 25px;
   color: white;
 }
